/*
 *  Versatile Express Cortex-A9 porting
 *  2012 (c) Daniel Sangorrin (daniel.sangorrin@gmail.com)
 *
 *  This file contains the declaration of the interrupt
 *  used by the serial port. The interrupt service routine
 *  is sio_isr, defined in target_serial.c.
 */
#include "target_serial.h"

CLASS(TCL_1_ONLY){
	ATT_INI({ TA_NULL, 0, vexpressa9_uart_init });
	ATT_ISR({TA_NULL, 1, INTNO_SIO0, sio_isr, 1});
	CFG_INT(INTNO_SIO0, { INTATR_SIO0, INTPRI_SIO0 });
}

#if TNUM_PORT >= 2
CLASS(TCL_2_ONLY){
	ATT_ISR({TA_NULL, 2, INTNO_SIO1, sio_isr, 1});
	CFG_INT(INTNO_SIO1, { INTATR_SIO1, INTPRI_SIO1 });
}
#endif /* TNUM_PORT >= 2 */

#if TNUM_PORT >= 3
CLASS(TCL_3_ONLY){
	ATT_ISR({TA_NULL, 3, INTNO_SIO2, sio_isr, 1});
	CFG_INT(INTNO_SIO2, { INTATR_SIO2, INTPRI_SIO2 });
}
#endif /* TNUM_PORT >= 3 */

#if TNUM_PORT >= 4
CLASS(TCL_4_ONLY){
	ATT_ISR({TA_NULL, 4, INTNO_SIO3, sio_isr, 1});
	CFG_INT(INTNO_SIO3, { INTATR_SIO3, INTPRI_SIO3 });
}
#endif /* TNUM_PORT >= 4 */
